@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Montserrat:wght@600&display=swap');


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 2;
    }
}

@keyframes fill-bar95 {
    from {
        width: 5%;
    }

    to {
        width: 95%;
    }
}

@keyframes fill-bar90 {
    from {
        width: 5%;
    }

    to {
        width: 90%;
    }
}

@keyframes fill-bar85 {
    from {
        width: 5%;
    }

    to {
        width: 85%;
    }
}

@keyframes fill-bar80 {
    from {
        width: 5%;
    }

    to {
        width: 80%;
    }
}

@keyframes fill-bar75 {
    from {
        width: 5%;
    }

    to {
        width: 75%;
    }
}


body {

    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* colors */

    --c1: #222831;
    --c2: #393E46;
    --c3: #00ADB5;
    --c4: #EEEEEE;

    --c5: #001C30;
    --c5: #176B87;
    --c5: #64CCC5;
    --c5: #DAFFFB;
    --blk: #000;
    --wht: #fff;

    --f1: 'Montserrat', sans-serif;
    --f2: 'Josefin Sans', sans-serif;
    --f3: 'Montserrat', sans-serif;

    transition: 0.5s;
    animation: fadeIn 0.8s ease-in-out;
    background-color: var(--c1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.b2t {
    position: fixed;
    bottom: 3%;
    right: 3%;
    border-radius: 50%;
    border: 1px solid var(--c2);
    background-color: var(--c3);
    padding: 10px;
    cursor: pointer;
    z-index: 1px;
    transition: background-color 0.3s, transform 0.3s;
}

.b2t img {
    width: 20px;
    height: auto;
}

.b2t:hover {
    background-color: var(--c2);
    transform: scale(1.1);
}

.sticky {
    position: fixed;
    top: 0;
    width: 99%;
    background-color: #ffffff;
    /* Customize the background color */
    z-index: 1000;
}

hr {
    color: var(--c3) !important;
    width: 99%;
}

code {
    color: var(--c3);
    font-weight: bold;
}

a {
    font-family: var(--f3);
    text-decoration: none;
    color: var(--c3);
    /* letter-spacing: 5px; */
    transition: 0.5s ease;
}
a:hover{
    color: var(--c5);
}

/* QUOTE */
.quote {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--c3);
    width: 100%;
    height: max-content;
    text-align: center;
}

.quote h2 {
    font-family: var(--f1);
    text-shadow: 3px 3px 10px rgb(255, 255, 255, 10);
    color: var(--c4);
}

.quote h1 {
    color: var(--c5);
}

/* NAV */

.titlebar {
    background-color: var(--c4);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.titlebar h1 {
    color: var(--c3);
    font-family: var(--f3);
}

#togle-menu {
    background-color: transparent;
    border: none;
    padding: 10px;
}

#togle-menu img {
    width: 30px;
    height: auto;
}

.popup-menu {
    padding: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    /* padding-top: 10%; */
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: 0.5s;
    height: 100%;
    width: 99%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.92);
    border: none;
    animation: fadeIn 0.6s ease-in-out;
}

.profile {
    margin-top:10%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* background-color: #fff; */
}

.des {
    text-align: start;
    font-family: var(--f2);
}

.des h3 {
    font-size: 30px;
    text-shadow: 2px 3px 20px var(--c4);
    color: var(--c3);
}

.des p {
    font-size: 18px;
    color: var(--c2);
}

.pro-img img {
    width: 110px;
    border: 1px solid var(--c3);
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
}

.des,
.pro-img {
    transition: 0.5s;
    animation: all 0.5s ease-in-out;
}

.pro-img img:hover {
    transition: 0.5s linear;
    background-color: var(--c4);

}

.menu-link {
    list-style: none;
    /* background-color: var(--c2); */
    filter: opacity(5px);
    font-size: 22px;
    text-transform: uppercase;
    width: 90%;
    border: none;
    border-radius: 10px;
    font-family: var(--f1);
    text-align: center;
    height: max-content;
}

.menu-link li {
    width: 100%;
    list-style: none;
    margin-top: 40px;
    /* background-color: #001C30; */
    padding: 10px;
    border: none;
    transition: 0.5s step-start;
}

.menu-link li:hover {
    transition: 250ms linear;
    
    transform: scale(1.2);
    letter-spacing: 10px;
    text-decoration: var(--c3);
    background-color: #ffffff09;
}


.menu-link li a:hover {
    color: var(--c3);
}

.menu-link li a {
    width: 100%;
    color: var(--wht);
    font-size: larger;
}

s .social-media {
    width: 50%;
    /* background-color: #00ADB5; */
    display: flex;
    align-self: center;
    justify-content: space-evenly;

}

.social-media img {
    width: 30px;
    margin: 10px;
    transition: 0.2s linear;
}

.social-media img:hover{
    transform: scale(1.5);
}
.footer-menu {
    margin-top: 10px;
    color: var(--c2);
    font-size: 14px;
    padding: 5px;
    font-family: var(--f3);
}

#close-menu img {
    width: 40px;
    background-color: var(--wht);
    border-radius: 50%;
    transition: 0.4s ease;
}

#close-menu :hover {
    background-color: var(--c3);
    transform: scale(1.1);
}

#close-menu {
    position: absolute;
    right: 2.5%;
    top: 2.5%;
    border: none;
    background-color: transparent;
}

/* LANDING */

.container-land {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.description-land {
    text-align: start;
    margin-left: 24px;
    height: max-content;
    width: 100%;
}

.description-land h4 {
    color: var(--c4);
    font-family: var(--f2);
    font-size: 30px;
}

.description-land h3 {
    color: var(--c3);
    font-family: var(--f3);
    font-size: 50px;
}

.description-land a {
    background-color: var(--c3);
    color: var(--c4);
    transition: 0.9s ease;
    font-family: var(--f3);
    text-transform: uppercase;
    border: none;
    font-size: 24px;
    padding: 9px;
    width: 80%;
    letter-spacing: 8px;
}

.description-land a:hover {
    /* transform: scale(1.01); */
    letter-spacing: 15px;

    background-color: var(--c4);
    color: var(--c3);
    border: 1px solid var(--c3);
}

.profile-land {
    border-radius: 100% 0% 100% 0% / 100% 100% 0% 0%;
    background-color: var(--c3);
    width: 40%;
}

.profile-land img {
    width: 500px;
}

.Landing .social-media {
    width: 100%;
}


/* About */
.About {
    background-color: var(--c2);

}

.About,
.Skills {
    padding: 20px;
    justify-content: center;
    align-items: center;
    opacity: 10px;
}

.About h3,
.Skills h3,
.Projects h3,
.Contact h3 {
    font-size: 50px;
    font-family: var(--f3);
    text-transform: uppercase;
    color: var(--c3);
}

.container-about {
    margin-left: 20px;
    padding: 20px;
    /* background-color: #00ADB5; */
    width: 95%;
}

.container-about p {
    text-align: justify;
    color: var(--c4);
    font-family: var(--f1);
    font-size: 20px;
}

/* skill */
.skill-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skill-menu .col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}


.col h4 {
    color: var(--c3);
    font-family: var(--f1);
    font-size: 25px;
    text-transform: uppercase;
}

.progress {
    margin-top: 5px;
    padding: 2px;
    width: 100%;
    max-width: 500px;
    background: var(--c4);
    height: 20px;
    text-align: center;
}

.progress .progress_bar {
    height: 100%;
    width: 5%;
    border-radius: 0px;
    background: var(--c3);
    color: var(--c4);
    font-size: 15px;
    font-family: var(--f3);
    text-align: center;
    vertical-align: baseline;
}

.lpy,
.lweb {
    animation: fill-bar95 3s forwards;
}

.ljs,
.ldb {
    animation: fill-bar90 3s forwards;
}

.ljava,
.lc,
.lsol {
    animation: fill-bar85 3s forwards;
}

.lcp {
    animation: fill-bar80 3s forwards;
}

.lgca {
    animation: fill-bar75 3s forwards;
}

/* Project */

.Projects {
    padding: 10px;
    background-color: var(--c4);
}

.pwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.project button {
    width: 100%;
    height: 40px;
    font-family: var(--f3);
    display: flex;
    vertical-align: center;
    line-height: center;
    border: none;
    padding: 3px;
    border-bottom: 1px solid var(--c4);
    background-color: var(--c3);
    color: white;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: 0.5s;
}

.project button img {
    padding: 5px;
    width: 25px;
}

.project div {
    transition: 0.5s initial;
    display: none;
    width: 100%;

    text-align: center;
    font-family: var(--f2);
    font-size: 15px;
    border: 0.1px solid var(--c3);
    background-color: var(--c4);
    animation: fadeIn 0.6s linear;
    margin-bottom: 10px;
}



.project div p {
    padding-left: 15px;
    padding-right: 15px;
}
.project button:hover{
    letter-spacing: 5px;
    filter:grayscale();
    transform:scale(1.01);
}

/* contact */

.Contact {
    padding: 10px;
}

.container-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--c3);
    color: var(--c4);
    font-family: var(--f3);
    font-size: 18px;
}

.container-contact a {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid;
    width: 100%;
    color: var(--c4);
    transition: 0.5s ease-in-out;
}

.container-contact a:hover {
    background-color: var(--c4);
    filter: blur(0px);
    color: var(--c3);
    text-decoration: var(--c3);
}

.container-contact a img {
    height: 80px;
    /* background-color: var(--c4); */
}

#phone p {
    filter: blur(3px);
}

#phone p:hover {
    filter: blur(0px);
}

/* footer */

.footer {
    overflow: hidden;
    background-color: var(--c3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: var(--f1);
    font-size: 15px;
    padding: 10px;
}

.license {
    color: var(--c1);
}

.footer .social-media {
    width: 30%;
}

.license a {
    color: var(--c5);
}



/* TAB */
@media (max-width : 1320px) {

    /* landing */
    .quote {
        text-align: justify;
        font-size: 15px;
    }

    .description-land h4 {
        font-size: 25px;
    }

    .description-land h3 {
        font-size: 35px;
    }

    .profile-land img {
        width: 400px;
    }

    .Skills h3 {
        font-size: 20px;
    }

    .col,
    .skill-menu {
        width: 100%;
    }

    .col h4 {
        font-size: 14px;
    }

    .skill-menu {
        padding-bottom: 20px;
    }

    .progress {
        width: 100%;
        min-width: 250px;
    }

    .skill-menu {
        flex-direction: column;

    }

    .skill-menu div {
        width: 100%;
    }

    .no-mobile {
        display: none;
    }

    /* Project */

    .Projects h3 {
        font-size: 35px;
    }

    /* footer */

    .footer {
        flex-direction: column;
    }

}

/* MOBILE */

@media (max-width : 800px) {

    /* landing */
    .Landing {
        padding: 5px;
    }

    .quote {
        text-align: center;
        font-size: 10px;
    }

    .container-land {
        display: flex;
        flex-direction: column;
    }

    .description-land h4 {
        font-size: 12px;
    }

    .description-land h3 {
        font-size: 20px;
    }

    .container-land div {
        width: 100%;
        margin: 10px;
    }

    .profile-land img {
        float: right;
        width: 350px;
    }

    .social-media {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .social-media img {
        width: 25px;
    }

    /* about */
    .About,
    .container-about {
        padding: 0px;
        margin: 0px;
    }

    .About h3 {
        font-size: 25px;
    }

    .container-about {
        width: 100%;
    }

    .container-about p {
        padding: 5px;
        text-align: justify;
        font-size: 14px;
    }

    .no-mobile {
        display: none;
    }

    /* skills */

    .Skills h3 {
        font-size: 20px;
    }

    .col,
    .skill-menu {
        width: 100%;
    }

    .col h4 {
        font-size: 14px;
    }

    .skill-menu {
        padding-bottom: 20px;
    }

    .progress {
        width: 100%;
        min-width: 300px;
        /* max-width: none; */
    }

    .skill-menu {
        flex-direction: column;
        width: 100%;

    }

    .skill-menu div {
        width: 100%;
    }


    /* Projects */
    .Projects {
        background-color: var(--c5);
    }

    .Projects h3 {
        font-size: 20px;
    }

    .project button {
        font-size: 12px;
        height: max-content;
    }

    .project button img {
        width: 12px;
    }

    .project div p {
        text-align: justify;
    }

    /* contact */
    .Contact h3 {
        font-size: 30px;
    }

    .container-contact {

        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        background-color: transparent;
    }

    .container-contact a {
        width: 90%;
        background-color: var(--c3);
    }

    /* footer */

    .footer {
        flex-direction: column;
    }
}